head {
  font: Helvetica;
  font-size: large;
  text-align: center;
}
body {
  font-size: large;
  text-align: justify;
  padding: 100px;
  background-image: url("https://www.xmple.com/wallpaper/white-spots-dots-polka-grey-1920x1080-c2-d3d3d3-ffffff-l2-179-289-a-315-f-3.svg");
}
h1 {
  text-align: center;
  font: Helvetica;
  color: Crimson;
}
h3 {
  color: RoyalBlue;
  text-align: center;
  style: Papyrus;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
